<img style="width: 100%;" src="http://static.gmzx.com/images/microMall/index/banner2.jpg" alt="广州广美整形美容医院 微整形公益行" />
<div class="tit"><img src="http://static.gmzx.com/images/microMall/index/tit_2.png" alt="广州广美整形美容医院 微整形公益行" /></div>
<div class="list">
    <ul>
        <li>
            <img class="list_left" src="http://static.gmzx.com/images/microMall/index/list1.jpg" alt="广州广美整形美容医院 微整形公益行" />
            <div class="list_right">
                <p>第三代热玛吉无创抗衰全脸全颈，进口探头只需26799元，仅需一次，年轻10岁……</p>
                <p><span class="red">￥26799.00</span> <span class="list_cart"></span> </p>
            </div>
        </li>
        <li>
            <img class="list_left" src="http://static.gmzx.com/images/microMall/index/list1.jpg" alt="广州广美整形美容医院 微整形公益行" />
            <div class="list_right">
                <p>第三代热玛吉无创抗衰全脸全颈，进口探头只需26799元，仅需一次，年轻10岁……</p>
                <p><span class="red">￥26799.00</span> <span class="list_cart"></span> </p>
            </div>
        </li><li>
        <img class="list_left" src="http://static.gmzx.com/images/microMall/index/list1.jpg" alt="广州广美整形美容医院 微整形公益行" />
        <div class="list_right">
            <p>第三代热玛吉无创抗衰全脸全颈，进口探头只需26799元，仅需一次，年轻10岁……</p>
            <p><span class="red">￥26799.00</span> <span class="list_cart"></span> </p>
        </div>
    </li><li>
        <img class="list_left" src="http://static.gmzx.com/images/microMall/index/list1.jpg" alt="广州广美整形美容医院 微整形公益行" />
        <div class="list_right">
            <p>第三代热玛吉无创抗衰全脸全颈，进口探头只需26799元，仅需一次，年轻10岁……</p>
            <p><span class="red">￥26799.00</span> <span class="list_cart"></span> </p>
        </div>
    </li>
    </ul>
</div>
<div class="block1 blank" style="height: 200px"></div>